In [6]:
import pandas as pd
df = pd.read_csv('employees.csv')

Obtén todas las filas del depto "Eng" que además tengan perf_score >= 0.85, pero muestra solo las columnas: emp_id, name, city, perf_score, salary_mxn.

In [4]:
df.loc[(df["dept"] == "Eng") & (df["perf_score"] >= 0.85),["emp_id", "name", "city", "perf_score", "salary_mxn"]]

    emp_id   name  city  perf_score  salary_mxn
6      107  Karla   MTY        0.95       40000
11     112  Ramon  CDMX        0.92       90000

Del DataFrame completo, obtén las filas 3 a 8 (incluyendo 3 y excluyendo 8), y solo las columnas 0, 1, 5 y 6 (por posición).

In [10]:
df.iloc[3:8,[0,1,5,6]]

   emp_id   name   hire_date  salary_mxn
3     104  Jorge  2023-03-20       51000
4     105  Sofia  2022-09-05       30000
5     106  Diego  2021-02-14       78000
6     107  Karla  2025-07-01       40000
7     108  Pedro  2020-10-30       35000

Calcula:Filtra empleados que estén en city CDMX o GDL, con warnings == 0 y absences <= 1. Muestra emp_id, name, city, warnings, absences.

In [28]:
warnings = 0
absences = 1
ciudades = ["CDMX", "GDL"]
query = df.query("warnings == @warnings and city in @ciudades and absences >= @absences")
query[["emp_id", "name", "city", "warnings", "absences"]]

    emp_id   name  city  warnings  absences
11     112  Ramon  CDMX         0         1

Calcula:
salario promedio (salary_mxn)
perf promedio (perf_score)
total de warnings (warnings)
en una sola salida (por ejemplo usando agg).

In [31]:

df.agg({
    "salary_mxn": "mean",
    "perf_score": "mean",
    "warnings": "sum"
})

salary_mxn    43200.0000
perf_score        0.8145
warnings         14.0000
dtype: float64

Por cada dept, calcula:
número de empleados
salario promedio
perf promedio
Ordena el resultado por salario promedio descendente.

In [8]:
res = (
    df.groupby("dept")
      .agg(
          empleados=("dept", "count"),
          salario_promedio=("salary_mxn", "mean"),
          perf_promedio=("perf_score", "mean")
      )
      .sort_values("salario_promedio", ascending=False)
)