In [1]:
import pandas as pd
df = pd.read_csv('pandas_practice.csv')

#Mostra la info tecica
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        30 non-null     int64
 1   order_date      30 non-null     str
 2   user_id         30 non-null     int64
 3   user_name       30 non-null     str
 4   segment         30 non-null     str
 5   city            30 non-null     str
 6   state           30 non-null     str
 7   channel         30 non-null     str
 8   product         30 non-null     str
 9   category        30 non-null     str
 10  quantity        30 non-null     int64
 11  unit_price      30 non-null     float64
 12  discount        30 non-null     float64
 13  returned        30 non-null     bool
 14  payment_method  30 non-null     str
 15  gross           30 non-null     float64
 16  net             30 non-null     float64
dtypes: bool(1), float64(4), int64(3), str(9)
memory usage: 3.9 KB

In [2]:
#Mosrar los primeros 6 registros
df.head(6)

,order_id,order_date,user_id,user_name,segment,city,state,channel,product,category,quantity,unit_price,discount,returned,payment_method,gross,net
0,1001,2026-01-02,1,Ana,Consumer,CDMX,CDMX,web,Laptop Sleeve,Accessories,1,35.0,0.10,False,card,35.0,31.50
1,1002,2026-01-02,2,Luis,Corporate,GDL,JAL,store,Wireless Mouse,Accessories,2,18.5,0.00,False,cash,37.0,37.00
2,1003,2026-01-03,3,Marta,Consumer,MTY,NL,web,Keyboard,Accessories,1,45.0,0.05,True,card,45.0,42.75
3,1004,2026-01-03,4,Jorge,Small Biz,CDMX,CDMX,app,"Monitor 24""",Electronics,1,160.0,0.15,False,card,160.0,136.00
4,1005,2026-01-04,1,Ana,Consumer,Puebla,PUE,web,USB-C Cable,Accessories,3,8.0,0.00,False,transfer,24.0,24.00
5,1006,2026-01-05,5,Sofia,Corporate,QRO,QRO,store,Office Chair,Furniture,1,220.0,0.20,False,card,220.0,176.00

In [3]:
#Mostrar los 6 ultimos
df.tail(6)

,order_id,order_date,user_id,user_name,segment,city,state,channel,product,category,quantity,unit_price,discount,returned,payment_method,gross,net
24,1025,2026-01-17,7,Karla,Small Biz,MTY,NL,web,Router,Electronics,1,130.0,0.20,False,card,130.0,104.0
25,1026,2026-01-17,8,Pedro,Consumer,CDMX,CDMX,app,Sticky Notes,Stationery,6,1.5,0.00,False,cash,9.0,9.0
26,1027,2026-01-18,4,Jorge,Small Biz,CDMX,CDMX,web,USB-C Dock,Electronics,1,175.0,0.10,False,card,175.0,157.5
27,1028,2026-01-18,12,Hugo,Corporate,MTY,NL,store,Ink Cartridge,Stationery,2,25.0,0.00,False,transfer,50.0,50.0
28,1029,2026-01-19,1,Ana,Consumer,Puebla,PUE,app,Gaming Mousepad,Accessories,1,20.0,0.05,False,card,20.0,19.0
29,1030,2026-01-20,13,Nora,Small Biz,Puebla,PUE,web,Filing Cabinet,Furniture,1,260.0,0.15,False,transfer,260.0,221.0

Funcion .loc

In [4]:
#seleccionar la columna "user_name"
#sintaxis df.loc[fila,columna]
df.loc[:,'user_name']

0       Ana
1      Luis
2     Marta
3     Jorge
4       Ana
5     Sofia
6     Diego
7     Karla
8     Pedro
9      Luis
10    Elena
11    Marta
12    Ramon
13    Paula
14     Hugo
15    Diego
16    Sofia
17     Nora
18     Ivan
19    Lucia
20    Elena
21    Paula
22    Ramon
23     Luis
24    Karla
25    Pedro
26    Jorge
27     Hugo
28      Ana
29     Nora
Name: user_name, dtype: str

In [5]:
#mostar el registro de la fila 2
df.loc[1,:]

order_id                    1002
order_date            2026-01-02
user_id                        2
user_name                   Luis
segment                Corporate
city                         GDL
state                        JAL
channel                    store
product           Wireless Mouse
category             Accessories
quantity                       2
unit_price                  18.5
discount                     0.0
returned                   False
payment_method              cash
gross                       37.0
net                         37.0
Name: 1, dtype: object

In [6]:
#Mostrar_name, prodcut, order_id, oder_data
df.loc[:,["order_id","user_name","product", "order_date"]]

    order_id user_name            product  order_date
0       1001       Ana      Laptop Sleeve  2026-01-02
1       1002      Luis     Wireless Mouse  2026-01-02
2       1003     Marta           Keyboard  2026-01-03
3       1004     Jorge        Monitor 24"  2026-01-03
4       1005       Ana        USB-C Cable  2026-01-04
5       1006     Sofia       Office Chair  2026-01-05
6       1007     Diego          Desk Lamp  2026-01-05
7       1008     Karla            SSD 1TB  2026-01-06
8       1009     Pedro           Notebook  2026-01-06
9       1010      Luis        Monitor 27"  2026-01-07
10      1011     Elena            Pen Set  2026-01-07
11      1012     Marta             Webcam  2026-01-08
12      1013     Ramon      Standing Desk  2026-01-09
13      1014     Paula         Headphones  2026-01-09
14      1015      Hugo         Paper Ream  2026-01-10
15      1016     Diego            USB Hub  2026-01-10
16      1017     Sofia      Ergo Keyboard  2026-01-11
17      1018      Nora     Desk Organizer  2026-01-12
18      1019      Ivan   Smartphone Stand  2026-01-12
19      1020     Lucia         HDMI Cable  2026-01-13
20      1021     Elena            Planner  2026-01-14
21      1022     Paula  Bluetooth Speaker  2026-01-15
22      1023     Ramon          Floor Mat  2026-01-15
23      1024      Luis         Whiteboard  2026-01-16
24      1025     Karla             Router  2026-01-17
25      1026     Pedro       Sticky Notes  2026-01-17
26      1027     Jorge         USB-C Dock  2026-01-18
27      1028      Hugo      Ink Cartridge  2026-01-18
28      1029       Ana    Gaming Mousepad  2026-01-19
29      1030      Nora     Filing Cabinet  2026-01-20

In [7]:
_#Filtrar con una  condicion y elegir las columnas
df.loc[df["city"] == "CDMX", ["order_id","user_name","product", "order_date","payment_method","city"]]

    order_id user_name           product  order_date payment_method  city
0       1001       Ana     Laptop Sleeve  2026-01-02           card  CDMX
3       1004     Jorge       Monitor 24"  2026-01-03           card  CDMX
8       1009     Pedro          Notebook  2026-01-06           cash  CDMX
12      1013     Ramon     Standing Desk  2026-01-09       transfer  CDMX
18      1019      Ivan  Smartphone Stand  2026-01-12           card  CDMX
22      1023     Ramon         Floor Mat  2026-01-15           cash  CDMX
25      1026     Pedro      Sticky Notes  2026-01-17           cash  CDMX
26      1027     Jorge        USB-C Dock  2026-01-18           card  CDMX

In [8]:
#Filtar con varias condiciones
#"category","discount"
#category = electronico y descuent mayr a 10, id descunto metodo y categoria
x = (df["category"] == "Electronics") & (df["discount"] > 0.10) 
df.loc[x, ["order_id","product", "discount", "payment_method", "category"]]

    order_id        product  discount payment_method     category
3       1004    Monitor 24"      0.15           card  Electronics
16      1017  Ergo Keyboard      0.15           card  Electronics
24      1025         Router      0.20           card  Electronics

Funcion .iloc

In [ ]:
#mostrar la columna Ã¼ser_name"utilizando iloc
#sintaxis df.iloc[fila,columna]
df.iloc[:,3]

In [10]:
#mostar filas especificas, 0-5
df.iloc[0:5]

,order_id,order_date,user_id,user_name,segment,city,state,channel,product,category,quantity,unit_price,discount,returned,payment_method,gross,net
0,1001,2026-01-02,1,Ana,Consumer,CDMX,CDMX,web,Laptop Sleeve,Accessories,1,35.0,0.10,False,card,35.0,31.50
1,1002,2026-01-02,2,Luis,Corporate,GDL,JAL,store,Wireless Mouse,Accessories,2,18.5,0.00,False,cash,37.0,37.00
2,1003,2026-01-03,3,Marta,Consumer,MTY,NL,web,Keyboard,Accessories,1,45.0,0.05,True,card,45.0,42.75
3,1004,2026-01-03,4,Jorge,Small Biz,CDMX,CDMX,app,"Monitor 24""",Electronics,1,160.0,0.15,False,card,160.0,136.00
4,1005,2026-01-04,1,Ana,Consumer,Puebla,PUE,web,USB-C Cable,Accessories,3,8.0,0.00,False,transfer,24.0,24.00

In [11]:
#Mostar fila 0, 3 y 6
df.iloc[[0,3,6]]

,order_id,order_date,user_id,user_name,segment,city,state,channel,product,category,quantity,unit_price,discount,returned,payment_method,gross,net
0,1001,2026-01-02,1,Ana,Consumer,CDMX,CDMX,web,Laptop Sleeve,Accessories,1,35.0,0.10,False,card,35.0,31.5
3,1004,2026-01-03,4,Jorge,Small Biz,CDMX,CDMX,app,"Monitor 24""",Electronics,1,160.0,0.15,False,card,160.0,136.0
6,1007,2026-01-05,6,Diego,Consumer,GDL,JAL,web,Desk Lamp,Furniture,2,28.0,0.00,True,card,56.0,56.0

In [12]:
#Mostrar las primeras 5 filas y 4 columnas
df.iloc[0:5,0:4]

   order_id  order_date  user_id user_name
0      1001  2026-01-02        1       Ana
1      1002  2026-01-02        2      Luis
2      1003  2026-01-03        3     Marta
3      1004  2026-01-03        4     Jorge
4      1005  2026-01-04        1       Ana

Query

In [13]:
#cONSULTA SIMPLE
#Mostar todos los registros de CDMX
df.query("city == 'CDMX'")

,order_id,order_date,user_id,user_name,segment,city,state,channel,product,category,quantity,unit_price,discount,returned,payment_method,gross,net
0,1001,2026-01-02,1,Ana,Consumer,CDMX,CDMX,web,Laptop Sleeve,Accessories,1,35.0,0.10,False,card,35.0,31.5
3,1004,2026-01-03,4,Jorge,Small Biz,CDMX,CDMX,app,"Monitor 24""",Electronics,1,160.0,0.15,False,card,160.0,136.0
8,1009,2026-01-06,8,Pedro,Consumer,CDMX,CDMX,store,Notebook,Stationery,5,2.5,0.00,False,cash,12.5,12.5
12,1013,2026-01-09,10,Ramon,Small Biz,CDMX,CDMX,store,Standing Desk,Furniture,1,420.0,0.10,False,transfer,420.0,378.0
18,1019,2026-01-12,14,Ivan,Consumer,CDMX,CDMX,web,Smartphone Stand,Accessories,2,14.0,0.10,False,card,28.0,25.2
22,1023,2026-01-15,10,Ramon,Small Biz,CDMX,CDMX,web,Floor Mat,Furniture,1,30.0,0.00,False,cash,30.0,30.0
25,1026,2026-01-17,8,Pedro,Consumer,CDMX,CDMX,app,Sticky Notes,Stationery,6,1.5,0.00,False,cash,9.0,9.0
26,1027,2026-01-18,4,Jorge,Small Biz,CDMX,CDMX,web,USB-C Dock,Electronics,1,175.0,0.10,False,card,175.0,157.5

In [14]:
#Mostar los registros que sean de CDMX, electronicos y con un descuento igual a .1
df.query("city=='CDMX' & category == 'Electronics' & discount == 0.1")

,order_id,order_date,user_id,user_name,segment,city,state,channel,product,category,quantity,unit_price,discount,returned,payment_method,gross,net
26,1027,2026-01-18,4,Jorge,Small Biz,CDMX,CDMX,web,USB-C Dock,Electronics,1,175.0,0.1,False,card,175.0,157.5

In [15]:
#Mostar los registros que sea de CDMX,GDL, con un descuento iguak a .1
dis = 0.1
ciudades = ["CDMX", "GDL"]
df.query("discount == @dis and city in @ciudades")

,order_id,order_date,user_id,user_name,segment,city,state,channel,product,category,quantity,unit_price,discount,returned,payment_method,gross,net
0,1001,2026-01-02,1,Ana,Consumer,CDMX,CDMX,web,Laptop Sleeve,Accessories,1,35.0,0.1,False,card,35.0,31.5
12,1013,2026-01-09,10,Ramon,Small Biz,CDMX,CDMX,store,Standing Desk,Furniture,1,420.0,0.1,False,transfer,420.0,378.0
18,1019,2026-01-12,14,Ivan,Consumer,CDMX,CDMX,web,Smartphone Stand,Accessories,2,14.0,0.1,False,card,28.0,25.2
21,1022,2026-01-15,11,Paula,Consumer,GDL,JAL,app,Bluetooth Speaker,Electronics,1,80.0,0.1,False,card,80.0,72.0
26,1027,2026-01-18,4,Jorge,Small Biz,CDMX,CDMX,web,USB-C Dock,Electronics,1,175.0,0.1,False,card,175.0,157.5

**Agregacion**
.sum()
.mean()
.median()
.count()
.min()
.max()

In [16]:
df["net"].sum()

np.float64(2336.95)

In [17]:
df["net"].mean()

np.float64(77.89833333333333)

In [18]:
df["net"].median()

np.float64(46.375)

In [19]:
df["net"].count()

np.int64(30)

In [20]:
df["net"].count()

np.int64(30)

In [21]:
df["net"].min(), df["net"].max()

(np.float64(9.0), np.float64(378.0))

In [22]:
#Aplicamob las funcione suma, media , minimo, y maximo a las columnas "unit_price" , "net"
df[["unit_price", "net"]].agg(["sum","mean","min","max"])

      unit_price          net
sum       2415.0  2336.950000
mean        80.5    77.898333
min          1.5     9.000000
max        420.0   378.000000

In [23]:
#Diferetbtes funciones

df.agg({
    "net": ["sum","mean"],
    "unit_price": ["max","min"],
    "discount": ["mean","max"]
})

              net  unit_price  discount
sum   2336.950000         NaN       NaN
mean    77.898333         NaN  0.056667
max           NaN       420.0  0.200000
min           NaN         1.5       NaN

In [24]:
g = df.groupby("city")
#ver que grupos rxisten
g.groups.keys()

dict_keys(['CDMX', 'GDL', 'MTY', 'MÃ©rida', 'Puebla', 'QRO'])

In [25]:
g.ngroups

6

In [42]:
# Agrupar por varias columnas (corrige parÃ©ntesis y nombre de columna)
g2 = df.groupby(["state", "channel"])
g2.groups.keys()

dict_keys([('CDMX', 'app'), ('CDMX', 'store'), ('CDMX', 'web'), ('JAL', 'app'), ('JAL', 'store'), ('JAL', 'web'), ('NL', 'app'), ('NL', 'store'), ('NL', 'web'), ('PUE', 'app'), ('PUE', 'web'), ('QRO', 'store'), ('QRO', 'web'), ('YUC', 'app'), ('YUC', 'web')])

In [ ]:
#Ventas por ciudad
df.groupby("city"["net"].agg(["sum","mean","min","max"]))

In [ ]:
#Varias Metricas
df.groupby("category").agg(
    net_sum = ("net" , "sum"),
    net_mean = ("net", "mean"),
    orders = ("order_id", "nunique"),
     discount_mean = ("discount", "mean"),


)

In [ ]:
#orden por columna (des)
df_sorted =df.sort_values("net", ascending=False)
df_sorted.head()

In [28]:
df_sorted =df.sort_values(["net","unit_price"], ascending=[False,True])
df_sorted.head()

,order_id,order_date,user_id,user_name,segment,city,state,channel,product,category,quantity,unit_price,discount,returned,payment_method,gross,net
12,1013,2026-01-09,10,Ramon,Small Biz,CDMX,CDMX,store,Standing Desk,Furniture,1,420.0,0.10,False,transfer,420.0,378.0
9,1010,2026-01-07,2,Luis,Corporate,GDL,JAL,web,"Monitor 27""",Electronics,1,240.0,0.05,False,card,240.0,228.0
29,1030,2026-01-20,13,Nora,Small Biz,Puebla,PUE,web,Filing Cabinet,Furniture,1,260.0,0.15,False,transfer,260.0,221.0
5,1006,2026-01-05,5,Sofia,Corporate,QRO,QRO,store,Office Chair,Furniture,1,220.0,0.20,False,card,220.0,176.0
26,1027,2026-01-18,4,Jorge,Small Biz,CDMX,CDMX,web,USB-C Dock,Electronics,1,175.0,0.10,False,card,175.0,157.5

In [30]:
df2 = df.set_index("order_date")
df2 = df.sort_index()
df2.head()

,order_id,order_date,user_id,user_name,segment,city,state,channel,product,category,quantity,unit_price,discount,returned,payment_method,gross,net
0,1001,2026-01-02,1,Ana,Consumer,CDMX,CDMX,web,Laptop Sleeve,Accessories,1,35.0,0.10,False,card,35.0,31.50
1,1002,2026-01-02,2,Luis,Corporate,GDL,JAL,store,Wireless Mouse,Accessories,2,18.5,0.00,False,cash,37.0,37.00
2,1003,2026-01-03,3,Marta,Consumer,MTY,NL,web,Keyboard,Accessories,1,45.0,0.05,True,card,45.0,42.75
3,1004,2026-01-03,4,Jorge,Small Biz,CDMX,CDMX,app,"Monitor 24""",Electronics,1,160.0,0.15,False,card,160.0,136.00
4,1005,2026-01-04,1,Ana,Consumer,Puebla,PUE,web,USB-C Cable,Accessories,3,8.0,0.00,False,transfer,24.0,24.00

In [33]:
df_cols_sorted = df.sort_index(axis=1)
df_cols_sorted.head()

,category,channel,city,discount,gross,net,order_date,order_id,payment_method,product,quantity,returned,segment,state,unit_price,user_id,user_name
0,Accessories,web,CDMX,0.10,35.0,31.50,2026-01-02,1001,card,Laptop Sleeve,1,False,Consumer,CDMX,35.0,1,Ana
1,Accessories,store,GDL,0.00,37.0,37.00,2026-01-02,1002,cash,Wireless Mouse,2,False,Corporate,JAL,18.5,2,Luis
2,Accessories,web,MTY,0.05,45.0,42.75,2026-01-03,1003,card,Keyboard,1,True,Consumer,NL,45.0,3,Marta
3,Electronics,app,CDMX,0.15,160.0,136.00,2026-01-03,1004,card,"Monitor 24""",1,False,Small Biz,CDMX,160.0,4,Jorge
4,Accessories,web,Puebla,0.00,24.0,24.00,2026-01-04,1005,transfer,USB-C Cable,3,False,Consumer,PUE,8.0,1,Ana

**Funcion Merge**

In [ ]:
df.info()

In [37]:
# Vamos a crear una nueva tabla de usuarios Ãºnicos
users = df[["user_id", "user_name", "segment"]].drop_duplicates("user_id")
users.head()

   user_id user_name    segment
0        1       Ana   Consumer
1        2      Luis  Corporate
2        3     Marta   Consumer
3        4     Jorge  Small Biz
5        5     Sofia  Corporate

In [40]:
df1 = df.merge(users, on="user_id", how="left", suffixes=("", "_user"), validate="many_to_one")
df1.head()

,order_id,order_date,user_id,user_name,segment,city,state,channel,product,category,quantity,unit_price,discount,returned,payment_method,gross,net,user_name_user,segment_user
0,1001,2026-01-02,1,Ana,Consumer,CDMX,CDMX,web,Laptop Sleeve,Accessories,1,35.0,0.10,False,card,35.0,31.50,Ana,Consumer
1,1002,2026-01-02,2,Luis,Corporate,GDL,JAL,store,Wireless Mouse,Accessories,2,18.5,0.00,False,cash,37.0,37.00,Luis,Corporate
2,1003,2026-01-03,3,Marta,Consumer,MTY,NL,web,Keyboard,Accessories,1,45.0,0.05,True,card,45.0,42.75,Marta,Consumer
3,1004,2026-01-03,4,Jorge,Small Biz,CDMX,CDMX,app,"Monitor 24""",Electronics,1,160.0,0.15,False,card,160.0,136.00,Jorge,Small Biz
4,1005,2026-01-04,1,Ana,Consumer,Puebla,PUE,web,USB-C Cable,Accessories,3,8.0,0.00,False,transfer,24.0,24.00,Ana,Consumer

In [41]:
a = df.iloc[:10]
b = df.iloc[10:]

reconstruido = pd.concat([a,b], ignore_index=True)
reconstruido

,order_id,order_date,user_id,user_name,segment,city,state,channel,product,category,quantity,unit_price,discount,returned,payment_method,gross,net
0,1001,2026-01-02,1,Ana,Consumer,CDMX,CDMX,web,Laptop Sleeve,Accessories,1,35.0,0.10,False,card,35.0,31.50
1,1002,2026-01-02,2,Luis,Corporate,GDL,JAL,store,Wireless Mouse,Accessories,2,18.5,0.00,False,cash,37.0,37.00
2,1003,2026-01-03,3,Marta,Consumer,MTY,NL,web,Keyboard,Accessories,1,45.0,0.05,True,card,45.0,42.75
3,1004,2026-01-03,4,Jorge,Small Biz,CDMX,CDMX,app,"Monitor 24""",Electronics,1,160.0,0.15,False,card,160.0,136.00
4,1005,2026-01-04,1,Ana,Consumer,Puebla,PUE,web,USB-C Cable,Accessories,3,8.0,0.00,False,transfer,24.0,24.00
5,1006,2026-01-05,5,Sofia,Corporate,QRO,QRO,store,Office Chair,Furniture,1,220.0,0.20,False,card,220.0,176.00
6,1007,2026-01-05,6,Diego,Consumer,GDL,JAL,web,Desk Lamp,Furniture,2,28.0,0.00,True,card,56.0,56.00
7,1008,2026-01-06,7,Karla,Small Biz,MTY,NL,app,SSD 1TB,Electronics,1,95.0,0.10,False,card,95.0,85.50
8,1009,2026-01-06,8,Pedro,Consumer,CDMX,CDMX,store,Notebook,Stationery,5,2.5,0.00,False,cash,12.5,12.50
9,1010,2026-01-07,2,Luis,Corporate,GDL,JAL,web,"Monitor 27""",Electronics,1,240.0,0.05,False,card,240.0,228.00
10,1011,2026-01-07,9,Elena,Consumer,MÃ©rida,YUC,app,Pen Set,Stationery,2,12.0,0.00,False,transfer,24.0,24.00
11,1012,2026-01-08,3,Marta,Consumer,MTY,NL,web,Webcam,Electronics,1,70.0,0.00,False,card,70.0,70.00
12,1013,2026-01-09,10,Ramon,Small Biz,CDMX,CDMX,store,Standing Desk,Furniture,1,420.0,0.10,False,transfer,420.0,378.00
13,1014,2026-01-09,11,Paula,Consumer,GDL,JAL,web,Headphones,Electronics,1,55.0,0.00,True,card,55.0,55.00
14,1015,2026-01-10,12,Hugo,Corporate,MTY,NL,app,Paper Ream,Stationery,10,4.0,0.05,False,cash,40.0,38.00
15,1016,2026-01-10,6,Diego,Consumer,GDL,JAL,web,USB Hub,Electronics,1,22.0,0.00,False,card,22.0,22.00
16,1017,2026-01-11,5,Sofia,Corporate,QRO,QRO,web,Ergo Keyboard,Electronics,1,110.0,0.15,False,card,110.0,93.50
17,1018,2026-01-12,13,Nora,Small Biz,Puebla,PUE,app,Desk Organizer,Stationery,1,19.0,0.00,False,transfer,19.0,19.00
18,1019,2026-01-12,14,Ivan,Consumer,CDMX,CDMX,web,Smartphone Stand,Accessories,2,14.0,0.10,False,card,28.0,25.20
19,1020,2026-01-13,15,Lucia,Consumer,MTY,NL,store,HDMI Cable,Accessories,2,9.5,0.00,False,cash,19.0,19.00
20,1021,2026-01-14,9,Elena,Consumer,MÃ©rida,YUC,web,Planner,Stationery,1,16.0,0.00,False,transfer,16.0,16.00
21,1022,2026-01-15,11,Paula,Consumer,GDL,JAL,app,Bluetooth Speaker,Electronics,1,80.0,0.10,False,card,80.0,72.00
22,1023,2026-01-15,10,Ramon,Small Biz,CDMX,CDMX,web,Floor Mat,Furniture,1,30.0,0.00,False,cash,30.0,30.00
23,1024,2026-01-16,2,Luis,Corporate,GDL,JAL,store,Whiteboard,Furniture,1,90.0,0.05,True,card,90.0,85.50
24,1025,2026-01-17,7,Karla,Small Biz,MTY,NL,web,Router,Electronics,1,130.0,0.20,False,card,130.0,104.00
25,1026,2026-01-17,8,Pedro,Consumer,CDMX,CDMX,app,Sticky Notes,Stationery,6,1.5,0.00,False,cash,9.0,9.00
26,1027,2026-01-18,4,Jorge,Small Biz,CDMX,CDMX,web,USB-C Dock,Electronics,1,175.0,0.10,False,card,175.0,157.50
27,1028,2026-01-18,12,Hugo,Corporate,MTY,NL,store,Ink Cartridge,Stationery,2,25.0,0.00,False,transfer,50.0,50.00
28,1029,2026-01-19,1,Ana,Consumer,Puebla,PUE,app,Gaming Mousepad,Accessories,1,20.0,0.05,False,card,20.0,19.00
29,1030,2026-01-20,13,Nora,Small Biz,Puebla,PUE,web,Filing Cabinet,Furniture,1,260.0,0.15,False,transfer,260.0,221.00